.heroimg {
    background-image: url(../../public/assets/heroProducts.png);
    background-size: cover;
    background-position: center 74%;
  position: relative !important;
  height: 360px !important;
}

.title {
    font-family: 'circe';
    font-weight: lighter;
    font-size: 60px;
    color: #f6ffe0;
    margin-block-end: 0em;
    margin-block-start: 0em;
}

.subtitle {
    font-family: 'circe';
    font-weight: lighter;
    font-size: 40px;
    max-width: 40%;
    color: #f6ffe0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.cont{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    justify-content: center;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, .46);
  }