

.nav {
    background-color: transparent;
    width: 100%;
    padding: 35px 80px;
    border-bottom: 1px solid #707070;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .menu {
    width: 40%;
  }
  .logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
  }
  
  .logo a {
    color: #f6ffe0;
    font: normal normal 300 40px/51px Europa;
  }
  
  .social {
    width: 40%;
    justify-content: flex-end;
  }
  
  .menuItems,
  .social {
    display: flex;
    list-style: none;
  }
  
  .itemsNav {
    color: #f6ffe0;
    padding: 10px 0;
    margin: 0 20px;
    font-size: 14px;
    text-transform: uppercase;
    font: normal normal 300 14px/18px Europa;
  }
  
  .itemsNav:hover {border-bottom: 1px solid #F6FFE0; cursor: pointer; transition: 1s;}
  