/* reset button */
.cta button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
.cta button::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/* fin reset button */


/* reset h2 */
.cta h2{
    margin-block-start: 0;
    margin-block-end: 0;
}
/* fin reset h2 */

.hero{
    background-image: url('../../public/assets/hero.png');
    background-size: 1280px 935px;
    width:1280px;
    height:935px ;
    box-shadow: inset 0px 10px 560px 20px black;
    display: flex;
}

.cta{
    margin: 18em auto; 
    /* antes margin: auto auto; para que se centre en la totalidad del hero, pero quedaba raro*/
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 2em;
}

.cta h2, .cta span, .cta button{
    color: #f6ffe0;
}

.cta h2{
    font: normal normal 300 40px/51px Europa;
}

.cta button{
    border: 2px solid #f6ffe0;
    padding: 1em 4em;
    width: fit-content;
    color: #f6ffe3;
    border-radius: 12px;
    cursor: pointer;
}