.features_container{
    padding-top:200px;
    display: flex;
}

.section_title,
.descrip {
  font-family: circe, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  color: #10222b;
}

.section_title {
  margin: 30px 0px;
}

.section_title span {
  color: #95ab63;
}

.descrip {
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}

.btn {
  display: flex;
  margin: 70px auto 0 auto;

  border: solid 1px #89b26f;
  border-radius: 0.5em;
  background-color: transparent;
  padding: 16px 32px;
  text-align: center;

  font-family: circe, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 25px;
  color:#89B26F;
  cursor: pointer;
}

.btn:hover{
    background-color: #89B26F;
    color:#fff;
}

.bonsaimg{
    position: absolute;
    right: -250px;
    top: 150px;
}

.features_section {
  position: relative;
  padding-bottom: 120px;
}