.title,
.total {
  font-family: 'Circe';
  font-size: 30px;
}

.total {
  text-align: end;
  margin-top: 15px;
}

.total span {
  color: #95ab63;
}


.btn {
  background-color: #95ab63;
  padding: 20px 12.5px;
  border-radius: 15px;
  border: 2px solid #95ab63;
  cursor: pointer;
  font-family: 'europa';
  font-weight: lighter;
  font-size: 25px;
  color: #f6ffe0;
}

.btn:hover {
  border: 2px solid black;
  color:black;
  background: none;
  transition: 0.2s;
}

.cont_btn {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1em;
}

.emptyCart{
  font-family: 'circe';
  font-weight: lighter;
}

.center{
  text-align: center;
  padding: 2em;
}

@media screen and (max-width: 768px) {
  .cart_container {
    min-height: calc(100vh - 72px);
  }
  .center{
    min-height: calc(100vh - 72px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 0;
  }

  .center h1 {
    margin-top: 0;
  }


}