.itemBenefit {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 2em 0em;
  }
  
  .itemBenefit_icon {
    background-color: #95ab63;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
  }
  
  .itemBenefit_text h3 {
    font-family: europa, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 25px;
    color: #10222b;
    margin-bottom: 0.5em;
  }
  
  .itemBenefit p {
    font-family: europa, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 16px;
    color: #95ab63;
  }
  