.cont_cart{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: .5px solid #95AB63;
    padding: 1em;
    margin: 1em 0px;
    font-family: 'Europa';
    font-size: 30px;
    width: 100%;
}

.name{
    font-weight: lighter;
    text-align: start !important;
}

.price{
    color: #95AB63;
    margin-left: 5em;
}

.cont_cart p{
    width: 60%;
    text-align: center;
    margin: 0px 1em;
} 

.close{
    width: 60px;
    cursor: pointer;
}

.close:hover{
    background-color: black;
    color:white;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .cont_cart{
        font-size: 20px;
        flex-wrap: wrap;
        margin: 0 !important;
        width: 100%;
        max-width: none;
    }

    .cont_cart span {
        display: none !important;
    }
    
    .cont_cart p{
        width: 10%;
        margin: 0 5px;
        text-align: left;
    }
    .name {
        width: 45% !important;
        margin: 0 !important;
    }
    .price{
        margin: 0 !important;
        text-align: left !important;
        width: 30% !important;
    }
    .close{
        width: 10% !important;
    }
}
    