/* reset button */
.card button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Remove excess padding and border in Firefox 4+ */
.card button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/* fin reset button */

.card {
  font: normal normal 100 33px/15px Europa;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 3px 6px #00000029;
  background-size: cover;
}


.card:nth-of-type(3) .textAndButton {
  text-align: right;
  padding-right: 10px;
  width: 100%;
}

.card:nth-of-type(1) {
  background-image: url('../../public/assets/feature-1.jpg');
  grid-column-start: 2;
  grid-column-end: 5;
}

.card:nth-of-type(2) {
  background-image: url('../../public/assets/feature-2.jpg');
  grid-column-start: 5;
  grid-column-end: 9;
}

.card:nth-of-type(3) {
  background-image: url('../../public/assets/feature-3.jpg');
  grid-column-start: 9;
  grid-column-end: 12;
}

.card a {
  color: #95AB63;
  font: normal normal 100 15px/15px Europa;
}

.card a:hover {cursor: pointer; text-decoration: underline;}

.card p {font-size: 25px; color: #10222B; line-height: 1; margin-bottom: 5px;}

