html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: #F9F4EF;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,a,ul,li {
  margin: 0;
  padding: 0;
}

.inner {
  max-width: 1136px;
  margin: auto;
  position: relative;
}
.carousel {width: 100%;}